<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Detalle</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <p>{{ id }}</p> -->
  <div id="container">
    <h2>Carta</h2>
    <ion-input [(ngModel)]="document.data.titulo"></ion-input>

    <h2>Tipo</h2>
    <ion-input [(ngModel)]="document.data.tipo"></ion-input>

    <h2>Texto Reglas</h2>
    <ion-input [(ngModel)]="document.data.descripcion"></ion-input>

    <ion-icon name="trash" (click)="clickBotonBorrar()"></ion-icon>
    <ion-button [routerLink]="['/home']" (click)="clickBotonModificar()"
      >Modificar carta</ion-button
    >
    <ion-button [routerLink]="['/home']" (click)="clickBotonInsertar()"
      >Añadir carta</ion-button
    >
    <ion-button (click)="clickBotonSeleccionarImagen()"
      >Seleccionar imagen</ion-button
    >
  </div>
</ion-content>
